<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="m-l m-t-md">Phoenix Notifier</h1>
        </div>

    </div>

    <br />

    <div class="row">
        <h2 class="m-l">Total</h2>
        <div class="col-md-3">
            <div class="card card-inverse card-danger">
                <div class="card-block">
                    <h4 class="card-title">Critical: {{criticalBugsCount}}</h4>
                    <p class="card-text">Production issues with high impact on customer's day to day business, security risks, software not working</p>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-inverse card-warning">
                <div class="card-block">
                    <h4 class="card-title">Major: {{criticalBugsCount}}</h4>
                    <p class="card-text">The major priority have significant impact but not critical. These issues are prioritized in the current development release.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-3">

            <div class="card card-secondary" style="background-color: #fff; border-color: #fff; color:#000;">
                <div class="card-block">
                    <h4 class="card-title">Bugs past 30 days: {{criticalBugsCount}}</h4>
                    <p class="card-text">Normal issues are those that are not Critical or Major; they have isolated impact and may have workarounds.</p>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-inverse card-info">
                <div class="card-block">
                    <h4 class="card-title">Enhancement List: {{criticalBugsCount}}</h4>
                    <p class="card-text">Minor priority is most often used for cosmetic issues that do not inhibit the functionality or main purpose of the project</p>

                </div>
            </div>
        </div>
    </div>
    
    <hr />
    
    <div class="row">
        <h2 class="m-l">Current</h2>
        <div class="col-md-3">
            <div class="card card-secondary" style="background-color: #fff; border-color: #fff; color:#000;">
                <div class="card-block">
                    <h4 class="card-title">Bugs: {{criticalBugsCount}}</h4>
                    <p class="card-text">Production issues with high impact on customer's day to day business, security risks, software not working</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-inverse card-info">

                <div class="card-block">
                    <h4 class="card-title">Enhancements: {{criticalBugsCount}}</h4>
                    <p class="card-text">The major priority have significant impact but not critical. These issues are prioritized in the current development release.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <br />
    <br />

    <div class="row">
        <div class="col-md-8">
       
        </div>
        
        <div class="col-md-4">
        
        
        </div>
    </div>