<h2>Phoenix Notifier</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail tile tile-medium">
                <h3>Critical bugs: {{criticalBugsCount}}</h3>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail tile tile-medium">
                <h3>Major bugs: {{criticalBugsCount}}</h3>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail tile tile-medium">
                <h3>Minor bugs: {{criticalBugsCount}}</h3>
            </div>
        </div>

    </div>
</div>